In [6]:
import os
import sys
import shutil
import time

import pandas  as pd
from pathlib import Path

import requests
import io
import zipfile

In [3]:
def download_zip_data(url,save_path='data'):

    if not os.path.exists(save_path):
        os.makedirs(save_path)

    print("Download the data...")
    response=requests.get(url,timeout=10)
    response.raise_for_status()

    if response.status_code==200:
        with zipfile.ZipFile(io.BytesIO(response.content)) as zip_file:
            zip_file.extractall(save_path)
        print(f"The dataset downloaded successfuly in {save_path}")
        
    else:
        print(f"The data could not be downloaded")

In [4]:
# test
save_path="../data/raw/"
download_zip_data(url="https://archive.ics.uci.edu/static/public/222/bank+marketing.zip",save_path=save_path)

Download the data...
The dataset downloaded successfuly in ../data/raw/

In [8]:
data_path="../data/raw/bank-additional/bank-additional-full.csv"

In [7]:
#Read the data
def load_dataset(path_dir):
    df=pd.read_csv(path_dir,sep=";")
    return df

In [10]:
load_dataset(data_path).T

,0,1,2,3,4,5,6,7,8,9,...,41178,41179,41180,41181,41182,41183,41184,41185,41186,41187
age,56,57,37,40,56,45,59,41,24,25,...,62,64,36,37,29,73,46,56,44,74
job,housemaid,services,services,admin.,services,services,admin.,blue-collar,technician,services,...,retired,retired,admin.,admin.,unemployed,retired,blue-collar,retired,technician,retired
marital,married,married,married,married,married,married,married,married,single,single,...,married,divorced,married,married,single,married,married,married,married,married
education,basic.4y,high.school,high.school,basic.6y,high.school,basic.9y,professional.course,unknown,professional.course,high.school,...,university.degree,professional.course,university.degree,university.degree,basic.4y,professional.course,professional.course,university.degree,professional.course,professional.course
default,no,unknown,no,no,no,unknown,no,unknown,no,no,...,no,no,no,no,no,no,no,no,no,no
housing,no,no,yes,no,no,no,no,no,yes,yes,...,no,yes,no,yes,yes,yes,no,yes,no,yes
loan,no,no,no,no,yes,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
contact,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,...,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular
month,may,may,may,may,may,may,may,may,may,may,...,nov,nov,nov,nov,nov,nov,nov,nov,nov,nov
day_of_week,mon,mon,mon,mon,mon,mon,mon,mon,mon,mon,...,thu,fri,fri,fri,fri,fri,fri,fri,fri,fri
duration,261,149,226,151,307,198,139,217,380,50,...,483,151,254,281,112,334,383,189,442,239
campaign,1,1,1,1,1,1,1,1,1,1,...,2,3,2,1,1,1,1,2,1,3
pdays,999,999,999,999,999,999,999,999,999,999,...,6,999,999,999,9,999,999,999,999,999
previous,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,1
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,...,success,nonexistent,nonexistent,nonexistent,success,nonexistent,nonexistent,nonexistent,nonexistent,failure
emp.var.rate,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,...,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,...,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,...,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8
euribor3m,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,...,1.031,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028
nr.employed,5191.0,5191.0,5191.0,5191.0,5191.0,5191.0,5191.0,5191.0,5191.0,5191.0,...,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6
y,no,no,no,no,no,no,no,no,no,no,...,yes,no,no,yes,no,yes,no,no,yes,no