In [1]:
#========================================================================================#
#        Process Bank Marketing Dataset
#        Author:
#        Date :16-01-2025
#========================================================================================#

In [10]:
# Env setup
import os
import sys
import shutil
import time
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,MinMaxScaler

# Global configuration
DATA_ROOT=Path("../data/interim/").resolve()
DATASET_DIR=Path.joinpath(DATA_ROOT,'bank-additional-full.csv')

In [11]:
#Read the data
def load_dataset(path_dir):
    df=pd.read_csv(path_dir,sep=",")
    return df

In [12]:
# load the data
load_dataset(DATASET_DIR)

       age          job  marital  ... euribor3m nr.employed    y
0       56    housemaid  married  ...     4.857      5191.0   no
1       57     services  married  ...     4.857      5191.0   no
2       37     services  married  ...     4.857      5191.0   no
3       40       admin.  married  ...     4.857      5191.0   no
4       56     services  married  ...     4.857      5191.0   no
...    ...          ...      ...  ...       ...         ...  ...
41183   73      retired  married  ...     1.028      4963.6  yes
41184   46  blue-collar  married  ...     1.028      4963.6   no
41185   56      retired  married  ...     1.028      4963.6   no
41186   44   technician  married  ...     1.028      4963.6  yes
41187   74      retired  married  ...     1.028      4963.6   no

[41188 rows x 21 columns]

In [5]:
# Env Setup

import os
import sys
import shutil
import time
from pathlib import Path

import numpy as np
import pandas as pd
from  sklearn.preprocessing import OneHotEncoder,LabelEncoder,MinMaxScaler

#Global Config
DATA_ROOT=Path("../data/interim/").resolve()
DATASET_DIR=Path.joinpath(DATA_ROOT,'bank-additional-full.csv')

['bank-additional-full.csv']