In [1]:
#========================================================================================#
#        Process Bank Marketing Dataset
#        Author:
#        Date :16-01-2025
#========================================================================================#

In [1]:
# Env setup
import os
import sys
import shutil
import time
from pathlib import Path
from typing import List

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,MinMaxScaler

# Global configuration
DATA_ROOT=Path("../data/interim/").resolve()
DATASET_DIR=Path.joinpath(DATA_ROOT,'bank-additional-full.csv')

In [34]:
#Read the data
def load_dataset(path_dir):
    df=pd.read_csv(path_dir,sep=",")
    return df

# create preprocessing functionalities
# Objectifs:
#.     Numeric features
#.     cat features
#.     target  features

def extract_num_features(data:pd.DataFrame)->list[str]:
    """
    Extract numerical features from a dataset
    """
    num_features=data.select_dtypes(include=['int64','float']).columns.to_list()
    return num_features

def extract_cat_features(data:pd.DataFrame)->list[str]:
    """
    Extract categorical features from a dataset
    """
    cat_features=data.select_dtypes(include=['object']).columns.to_list()
    if 'y' in cat_features:
        cat_features.remove('y')
    return cat_features
# Preprocessing
# 1. Numerical Features

def preprocess_num_features(data,num_features,scalar):
    """
    Preprocess numerical features using different scalars
    """
    scalar=scalar
    preprocessed_data=data.copy()
    prepocessed_data[num_features]=scalar.fit(prepocessed_data[num_features])

    return preprocessed_data
    


# 1. Categorical Features



def preprocess_num_features(data,num_features,scalar):
    """
    Preprocess numerical features using different features
    """

In [35]:
data=load_dataset(DATASET_DIR)

In [36]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [37]:
my_num_cols=extract_num_features(data)

In [38]:
my_cat_cols=extract_cat_features(data)

In [39]:
data[my_cat_cols]

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent
...,...,...,...,...,...,...,...,...,...,...
41183,retired,married,professional.course,no,yes,no,cellular,nov,fri,nonexistent
41184,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,nonexistent
41185,retired,married,university.degree,no,yes,no,cellular,nov,fri,nonexistent
41186,technician,married,professional.course,no,no,no,cellular,nov,fri,nonexistent
41187,retired,married,professional.course,no,yes,no,cellular,nov,fri,failure